if permission > 0
	#table-wrapper(style="width:100hv;border: solid 2px;padding: 20px;border-color:lightgray;border-radius:5px").col-md-12
		table#projects_overview.table.table-hover
			thead
				tr
					th Id
					th Project Name
					th Group
					th PI
					th # of Experiments
					th # of Sudies
					th Protocal(s)
					th Created
					th Project Status
					th Options
	//- .removeErr(data-toggle='tooltip' data-placement='right' title='Please delete all experiments under this project first')
else
	#table-wrapper(style="width:100hv;border: solid 2px;padding: 20px;border-color:lightgray;border-radius:5px").col-md-12
		table#projects_overview.table.table-hover
			thead
				tr
					//- th Id
					th Project Name
					th Group
					th PI
					th # of Experiments
					th # of Sudies
					th Protocal(s)
					th Created
					//- th Project Status
					//- th Options
if permission > 0
	#createProject.modal
		.modal-content
			.modal-header
				span.close &times;
				h2 Create a new project
			.modal-body
				.container(style='width:100%;margin-bottom: 15px;')
					.form-group
						.col-md-6
							.col-md-12
								label(style='font-size: 20px;;margin-top: 15px;margin-bottom: 15px;') Require fields*
							.col-md-12
								.col-md-12(style='margin: 5px;')
									label.col-md-5.control-label Project name:
									.col-md-7.inputGroupContainer
										.input-group(style='width: 100%;')
											span.input-group-addon
												i.fas.fa-archive
											input#project_name.form-control(type="text" style='font-size:25px' required)
								.col-md-12(style='margin: 5px;')
									label.col-md-5.control-label Status:
									.col-md-7.inputGroupContainer
										.input-group(style='width: 60%;')
											span.input-group-addon
												i.fa.fa-flag
											select#status.form-control(required)
												option(value='A') Active
												option(value='I') Inactive
								.col-md-12(style='margin: 5px;')
									label.col-md-5.control-label PI name:
									.col-md-7.inputGroupContainer
										select#pi_id.form-control(required)(style='width: 60%;')
											option 
											each pi in PI
												option(value=pi.id) #{pi.first_name},#{pi.last_name}
								.col-md-12(style='margin: 5px;')
									label.col-md-5.control-label Protocols:
									.col-md-7.inputGroupContainer
										table#ProjectProtocolsTable.table.table-hover

						.col-md-6
							//.seperation(style='height:2px;background-color:#337ab7;font-size:10px;margin-top: 15px;')
							label(style='font-size: 20px;margin-top: 15px;margin-bottom: 15px;') Option fields

						.col-md-6
							.col-md-12
								label.col-md-2.control-label Selected Users:
								.col-md-10.inputGroupContainer(style='height:20vh')
									table#ProjectSelectedUsersTable.table.table-hover
										thead
											tr
												th Name
												th Premission
							.col-md-12
								label.col-md-2.control-label Users:
								.col-md-10.inputGroupContainer
									table#ProjectUsersTable.table.table-hover
										thead
											tr
												th Name
												th Premission


			.modal-footer
				button.cancel.btn.btn-default Cancel
				button#create_project.btn.btn-success Submit


	#editProject.modal
		.modal-content(style='width:60%;left:20%;top:10%')
			.modal-header
				span.close &times;
				h2 Edit a project
			.modal-body
				.container(style='width:100%;margin-bottom: 15px;')
					.form-group
						.col-md-12
							label(style='font-size: 20px;;margin-top: 15px;margin-bottom: 15px;') Require fields*
						.col-md-12
							.col-md-12(style='margin: 5px;')
								label.col-md-5.control-label Project name:
								.col-md-7.inputGroupContainer
									.input-group(style='width: 100%;')
										span.input-group-addon
											i.fas.fa-archive
										input#editProject_name.form-control(type="text" style='font-size:25px' required)
							.col-md-12(style='margin: 5px;')
								label.col-md-5.control-label Status:
								.col-md-7.inputGroupContainer
									.input-group(style='width: 60%;')
										span.input-group-addon
											i.fa.fa-flag
										select#editStatus.form-control(required)
											option(value='A') Active
											option(value='I') Inactive
							.col-md-12(style='margin: 5px;')
								label.col-md-5.control-label PI name:
								.col-md-7.inputGroupContainer
									select#editPi_id.form-control(required)(style='width: 60%;')
										option 
										each pi in PI
											option(value=pi.id) #{pi.first_name},#{pi.last_name}
							.col-md-12(style='margin: 5px;')
								label.col-md-5.control-label Protocols:
								.col-md-7.inputGroupContainer
									table#editProjectProtocolsTable.table.table-hover

			.modal-footer
				button.cancel.btn.btn-default Cancel
				button#edit_project.btn.btn-success Update
	#deleteProjectAlert.modal