.col-md-6
	label Category
	p #{Category}
.col-md-6
	label(style='color:lightgray') Number of Objects
	p(style='color:lightgray') #{number_of_objects}
//.col-md-6
	p #{Category}
//.col-md-6
	p #{number_of_objects}
.col-md-6
	label(style='color:lightgray') Studies per Object
	p(style='color:lightgray') #{studies_per_object}
.col-md-6
	label(style='color:lightgray') Hours / Study
	p(style='color:lightgray') #{hours_per_study}
//.col-md-6
	p #{studies_per_object}
//.col-md-6
	p #{hours_per_study}
